@import "~bootstrap/scss/bootstrap";

body {
  background-color: blue;
}

h1 {
  text-align: center;
}

#cardsHere {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 2px;
}

#diaryInfo {
  background-color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 1px;
}